@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;
  --primary: 193 82% 31%;
  --primary-foreground: 210 40% 98%;
  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;
  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 193 82% 31%;
}

[dir='rtl'] {
  direction: rtl;
}

[dir='ltr'] {
  direction: ltr;
}

* {
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
}
